<div class="jumbo">
  <div class="right tomster"></div>
  <h2>About</h2>
  <br>
  {{!-- <LinkTo @route="index">
    <h4>home page</h4>
</LinkTo> --}}

  <br>
  <h3>WE ARE</h3>
  <br>
  <p>
We are purpose-built, purpose designed accommodation (think student, co-living and short stay) with a premium hospitality twist, curated toward our member's success.  We transform physical spaces into a community where members learn, stay, play, connect and make memories together.
Our energetic on-site teams elevate our all-inclusive offering with their excellent service and dynamic hosting approach, providing a hyper-intentional human touch to further enhance the member's experience and to ensure each member becomes part of our vibrant community.
  </p>
</div>


<img src="https://www.studyinternational.com/wp-content/uploads/2019/04/madalyn-cox-1426617-unsplash.jpg" alt="student living" style="float: right;">






<br>
<br>
<div style="padding-left: 50px; padding-right: 1300px; font-size: 65%" >
<h2>At StelStay, we strive to</h2>
<br>

<ul> Focus on positive constructive exchange</ul>
<ul>Buuld the character of our residents </ul>
<ul>Focus on the individual (both student and parent) </ul>
<ul>Treat students as young adults </ul>
<ul>Provide an atmosphere conducive to studying.</ul>

<br>
<br>

<h2>Contact Details</h2>
<br>
<h3>Email</h3>
<p>admin@stelstay.co.za</p>
<br>
<h3>Phone</h3>
<p>+27 21 635 9741 (Admin)   /  +27 21 735 8361 (On-Site)</p>
<br>
<h3>Address</h3>
<p>77 Cluver Street, Stellenbosch</p>

</div>


<br><br><br>
<div class="jumbo" style="text-align: center; background-color: #53686b; color: rgb(0, 0, 0); font-size: 75%; padding-top:64px; padding-right: 125000px">
    <LinkTo @route="apply">
            <h2 style="color: white;">Apply now!</h2>
    </LinkTo>

</div>