
{{!-- home starts --}}

<div class="container-1">

<div class="box-1">
    <h3>Next Level Living</h3>
    <br>
    <p>
        Choose from our accommodation packages and get the lifestyle that suits your needs and your budget. 
        Student Life offers eleven different residences across Stellenbosch, all with state-of-the-art facilities and top quality amenities to ensure a completely comfortable and enjoyable student living experience.
    </p>
    <br>

<LinkTo @route="rooms">
    

    <button type="button" style="    top:50%;
    background-color:#395159;
    color: #EFEFEF;
    border:none; 
    border-radius:10px; 
    padding:15px;
    min-height:30px; 
    min-width: 120px">Explore Rooms
    </button>

</LinkTo>

</div>



    <div class="box-2">
    <h3>Your Home Away From Home</h3>
    <br>
    <p>StelStay is a unique residence. As the only affiliated private residence it offers the best of two worlds: the same academic, sporting and cultural ties as any other Stellenbosch University residence but with the freedom and opportunities offered by a standalone establishment.</p>
    <br>
    <br>

    <LinkTo @route="apply">
          
    <button type="button" style="    top:50%;
    background-color:#395159;
    color: #EFEFEF;
    border:none; 
    border-radius:10px; 
    padding:15px;
    min-height:30px; 
    min-width: 120px">Apply Now
    </button>

    </LinkTo>

    </div>



    <div class="box-3">
        <h3>Customize Your Lifestyle</h3>
        <br>
        <p style="justify-content: center;">
            Manage your invoices, lease agreements, parking arrangements, Wifi packages and communicate all in 
            one place! Just another reason to stay with us. Your 'My Living' portal will be available after an successful 
            application. So make sure to apply whenever you like ;)
        </p>
        <br>
        <br>
        

    <LinkTo @route="my-living">
        
    
    <button type="button" style="    top:50%;
    background-color:#395159;
    color: #EFEFEF;
    border:none; 
    border-radius:10px; 
    padding:15px;
    min-height:30px; 
    min-width: 120px">My Living</button>

    </LinkTo>

    </div>
</div> 
{{!-- closing container --}}

<div style="padding-left: 100px; padding: right 100 px;"> 
    {{!-- <p>kak</p> --}}
</div>

<div style="text-align: center; ">
    
    <h3 style="font-size: 24px;">COMFORT IS MORE THAN A JUST A WORD</h3>


</div>

<br>
<br>



{{!-- image section  --}}\

<img src="https://inkstudios.co.za/images/interior/ink-studios-student-accommodation-interior-bedrooms-202019.jpg" style="padding-left: 100px; width:50%; height: auto;">
{{!-- <img src="https://inkstudios.co.za/images/Ink-Studios-Stellenbosch-Simonswyk-Stellenbosch-7600-3.jpg" style="padding-left: 100px; width: 500px">   --}}



<br>
<br>
<br>

<div style="float: right; padding-right:100px;">
    <img src="https://inkstudios.co.za/images/interior/ink-studios-student-accommodation-interior-bedrooms-20202.jpg"> 
</div>
{{!-- end of image section --}}

<div style="text-align:left; font-size: 16px; padding-left: 100px; padding-right:1050px">


    <h3 style="font-size: 150%;">WHAT WE OFFER</h3>
<br>
    <h3>Facilities</h3>
    <br>
    <li>Dedicated study centre</li>
    <li>High-speed internet</li>
    <li>Flily-equipped outdoor gym</li>
    <li>Laundromat and cleaning services</li>
    <li>On-site deli</li>
    <li>Meal plans are available the nearby</li>
<br>
<br>
    <h3>Management Staff</h3>
    <br>
    <li>Application Admin</li>
    <li>On-site administration office</li>
    <li>On-site maintenance</li>
    <li>Open door policy</li>
    <li>Involved student leadership structures</li>
<br>
<br>
    <h3>Safe & Secure</h3>
    <li>24/7 guarded security access</li>
    <li>Biometric access control system in place</li>
    <li>10-minute walk to the Neelsie Student Centre</li>
    
</div>


<div style="text-align:center; font-size: 50px ">
    <br>

</div>



<div style="text-align: center;">
    {{!-- <img src="/app/styles/ink-1.png" alt="image"> --}}
    
    <h3 style="font-size: 24px;">Location is everything!</h3>

    <br>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3310.4747635389854!2d18.872979915155295!3d-33.928915280639735!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1dcdb26baa268ab9%3A0x478101efe1bf88a2!2sCluver%20Rd%2C%20Universiteits%20Oord%2C%20Stellenbosch%2C%207600!5e0!3m2!1sen!2sza!4v1665605168495!5m2!1sen!2sza" 
    width="90%" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>


    <br>
</div>



<br>


{{!-- adding a few brs as the footer overrides some of the text --}}




{{!-- home ends --}}

<div class="jumbo" style="text-align: center; background-color: #53686b; color: rgb(0, 0, 0); font-size: 75%; padding-top:64px;">
    <LinkTo @route="apply">
            <h2 style="color: white;">Apply now!</h2>
    </LinkTo>

</div>




