{{outlet}}

<div class="jumbo" style="text-align: center; font-size: 65%; background:#d2c3b6; color: black; padding-bottom:30px">
  <h2>Explore Rooms</h2>
</div>


<div class="container-1">

<div class="box-1">
    <h3>The One Bedroom: Soloist</h3>
    <br>
    <p>
        Choose from our accommodation packages and get the lifestyle that suits your needs and your budget. 
        Student Life offers eleven different residences across Stellenbosch, all with state-of-the-art facilities and top quality amenities to ensure a completely comfortable and enjoyable student living experience.
    </p>


</div>

    <div class="box-2">
    <h3>The Two Bedroom: Dualist</h3>
    <br>
    <p>StelStay is a unique residence. As the only affiliated private residence it offers the best of two worlds: the same academic, sporting and cultural ties as any other Stellenbosch University residence but with the freedom and opportunities offered by a standalone establishment.</p>

    </div>

    <div class="box-3">
        <h3>The Three Bedroom: Trinity</h3>
        <br>
        <p style="justify-content: center;">
            Manage your invoices, lease agreements, parking arrangements, Wifi packages and communicate all in 
            one place! Just another reason to stay with us. Your 'My Living' portal will be available after an successful 
            application. So make sure to apply whenever you like ;)
        </p>



    </div>
</div> 

<img src="https://neufert-cdn.archdaily.net/uploads/photo/image/182573/full_HIgh_quality_300_DPI-Office__Gutersloh_DE__17.jpg?v=1568804968" alt="texture" style="width:  65%; height: 725px">

<img src="https://ap.hunterdouglas.asia/cms/ckeditor-ckfinder-integration/uploads/images/felt-ceiling-end-cap.jpg" alt="texture" style="width:  25%; height: 720px; float: right">

{{!-- floorplan --}}
<div style="text-align: center;">
    <br>
    <br>
        <h4 style="font-size: 300%;">Brilliant Living by design</h4>
    <br>
    <br>
        <img src="https://64.media.tumblr.com/1950a6ad2ada54542226995ddf764b72/tumblr_naid3iQDV11tibizho1_1280.png" alt="floorplan">

</div>
{{!-- floorplan end --}}

<br>
<br>

<div class="jumbo" style="text-align: center; background-color: #53686b; color: rgb(0, 0, 0); font-size: 75%; padding-top:64px;">
    <LinkTo @route="apply">
            <h2 style="color: white;">Apply now!</h2>
    </LinkTo>

</div>



